@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

@media only screen and (max-width: 2560px) and (min-width:1800px){
	.cater{
		height: 600px !important;
	}
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	/* .str {
		width: auto !important;
		height: 70px !important;
		margin-left: 125px !important;
		position: relative !important;
		left: -4px !important;
		bottom: 3px !important;
	} */
}

@media only screen and (max-width: 768px) and (min-width: 588px){
	.disc{
		position: relative !important;
		left: 55px !important;
	}
	.str{
		position: relative !important;
		left: -55px !important;
	}
	.trs{
		margin-top: 8px !important;
	}
}


@media only screen and (max-width: 1024px) and (min-width:888px){
	 .str {
		width: auto !important;
		height: 70px !important;
		margin-left: 125px !important;
		position: relative !important;
		left: -4px !important;
		bottom: 3px !important;
	} 
}

@media only screen and (min-width: 320px) and (max-width: 370px){
	.carde{
		position: relative !important;
		left: 65px !important;
	}
	.str {
		width: auto !important;
		height: 70px !important;
		margin-left: 125px !important;
		position: relative !important;
		left: -66px !important;
		bottom: 3px !important;
	} 
}

@media only screen and (min-width: 375px) and (max-width: 420px){
.carde{
	left: 95px !important;
}
.str {
	width: auto !important;
	height: 70px !important;
	margin-left: 125px !important;
	position: relative !important;
	left: -70px !important;
	bottom: 3px !important;
} 
}

@media only screen and (min-width: 425px) and (max-width: 570px){
	.carde{
		position: relative !important;
		left: 100px !important;
		bottom: 38px !important;
	}
	.courses_button{
		top: 232px !important;
    	left: -8px;
	}
	.speci{
		position: relative !important;
		left: 100px !important;
		top: 252px !important;
	}
	.dibris{
		position:  relative !important;
		left: -102px !important;
		top: 253px !important;
	}
	.courses{
		padding-bottom: 250px !important;
	}
	.str {
		width: auto !important;
		height: 70px !important;
		margin-left: 125px !important;
		position: relative !important;
		left: -65px !important;
		bottom: 3px !important;
	} 
	.section_title{
		position: relative !important;
		bottom: 30px !important;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.course_info:first-child
	{
		margin-right: 12px;
	}
	.course_col:nth-child(odd)
	{
		padding-right: 15px;
	}
	.course_col:nth-child(even)
	{
		padding-left: 15px;
	}
	.sidebar
	{
		padding-left: 20px;
	}
	.gallery_item
	{
	    width: calc((100% - 24px) / 3);
	    margin-bottom: 12px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav,
	.search_button
	{
		display: none;
	}
	.top_bar_contact_list li i,
	.top_bar_contact_list li > div,
	.login_button a
	{
		font-size: 12px;
	}
	.login_button
	{
		width: 140px;
	}
	.hamburger
	{
		display: inline-block;
		margin-left: 33px;
	}
	.course_col:not(:last-child)
	{
		margin-bottom: 40px;
	}
	.sidebar
	{
		margin-top: 100px;
		padding-left: 0;
	}
	.newsletter_container
	{
		height: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.newsletter_form_container
	{
		margin-top: 19px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
	.footer_contact,
	.footer_links
	{
		padding-left: 0;
	}
	.footer_links ul
	{
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
	.footer_mobile
	{
		float: none;
	}
	.footer_logo_container
	{
		margin-top: 0;
	}
	.copyright
	{
	    height: auto;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.cr_list
	{
		margin-top: 30px;
	}
	.cr_list li:not(:last-child)
	{
		margin-right: 20px;
	}
	.copyright div,
	.cr_list li a
	{
		font-size: 13px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.top_bar
	{
		display: none;
	}
	.home
	{
		height: 140px;
	}
	.header.scrolled
	{
		top: 0px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h2
	{
		font-size: 24px;
	}
	p
	{
		font-size: 13px;
	}
	.menu
	{
		width: 100%;
		right: -100%;
	}
	.dropdown_item_select,
	.home_search_button
	{
		font-size: 12px;
	}
	.newsletter_form_container
	{
		width: 100%;
		padding-left: 0;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}